<style media="screen">
  .hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, .hack h4, .hack h5, .hack h6, .hack strong {
    font-family: 'Operator Mono', Monaco, 'Lucida Console', Menlo, 'Liberation Mono' , 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  }

  a {
    border-bottom: 0;
  }

  .hack h1 {
    font-size: 2em;
    font-weight: 100;
  }

  .hack h1:after {
    content: '';
  }

  .dark h2 {
    font-size: 1.5em;
    font-weight: 100;
  }

  .hack li {
    margin-bottom: .5em;
  }

  .hack em {
    font-style: italic;
  }

  .hack em:after, .hack em:before {
    content: '';
  }
</style>
